/*
TODO: remove link color from text
TODO: vertically align stuff
*/

html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.course {
	display: inline-block;
}

.right-aligned {
	float: right;
	margin-top: 15px;
}

.panel-custom {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

tr:not(:first-child), td {
	cursor: pointer;
}

.groups {
  border: 1px solid grey;
  margin-bottom: 5px;
  display: block;
  padding: 20px;
}

.group-name {
  font-size: 30px;
}

.group-host {
  font-size: 20px;
}

.slots-open {
  font-size: 20px;
}