.panel-warning > .panel-heading {
	background-color: #fe8833 !important;
	color: white !important;
}

#table_wrapper {
	height: 300px;
	overflow-y: auto;
}
  
table {
	border-collapse: collapse; 
	width: 100%;
}
