.panel-custom {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.panel-body button {
  margin-top: 20px;
}

.panel-body li {
  font-size: 20px;
}

.remove-course {
  float: right;
}

.panel-body ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.course_history {
	margin-top: 20px;
}

span, .cancel, .edit {
	margin-top: -5px;
}

.delete {
	margin-top: 20px;
	text-align: right;
}

#editModal input {
  width: 50%;
}

#editModal button {
  float: right;
  margin-right: 5px;
}